.Modal{
    position: absolute;
    text-align: center;
    z-index: 100;
    background-color: white;
    color: #5cb85c;
    font-weight: 700;
    border-radius: 20px;
    top: 20%;
    left: 30%;
    width: 30%;
    padding: 20px;
    transition: all 0.6s ease-out;
    box-shadow: 2px 2px 10px 5px #ddd;
}

.ModalButtons{
    display: flex;
    justify-content: space-between;
}

.Modal a{
    text-decoration: none;
    border: 1px solid #F2A154;
    font-weight: 700;
    border-radius: 8px;
    color: #F2A154;
    padding: 8px 20px 3px;
}

.Modal a:hover{
    transform: scale(1.1);
    background-color: #F2A154;
    color:whitesmoke;
}

.Modal button{
    border: none;
    background-color: #d61c1c; 
    color: whitesmoke;
    padding: 4px 7px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .Modal{
        width: 80%;
        left: 20px;
    }
}